@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.btn-primary {
    background: linear-gradient(90deg, hsla(340, 100%, 83%), hsla(333, 100%, 13%, 0.8));
    color: white;
    border: none;
    padding: 0.75rem 1.1rem;
    letter-spacing: 0.05rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 1rem;
    transition: transform 0.18s ease;
}

.btn-primary:hover {
    transform: scale(0.95);
}

.btn-outline {
    background: transparent;
    border: 1px solid  hsla(333, 100%, 13%, 0.8);
    color: #712a47;
    padding: 0.75rem 1.1rem;
    letter-spacing: 0.05rem;
    border-radius: 10px;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.18s ease;
    text-decoration: none;
    margin-bottom: 1rem;
}

.btn-outline:hover {
    transform: scale(0.95);
}